.App {
  background-color: #83aabd;
  min-height: 100vh;
}

.selected {
  border: 1px solid orange;
}

.incorrect button {
  background-color: indianred;
}

.correct .selected {
  background-color: greenyellow;
}

.incorrect-answer {
  border: 1px solid red;
}

.correct-answer {
  border: 1px solid greenyellow;
}

.leaderboard .correct {
  color: green;
}

.leaderboard .incorrect {
  color: red;
}

.leaderboard {
  display: block;
}

.leaderboard td:nth-child(2) {
  text-align: left;
}

.leaderboard thead {
  display: block;
}

.leaderboard tbody {
  display: flex;
  flex-direction: column;
}

.leaderboard tr {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
}

.profile-img-preview img {
  margin: 0 auto;
  clip-path: circle(50px at center);
  width: 100px;
}

.profile-img {
  clip-path: circle(25px at center);
  width: 50px;
}
