.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  height: 10vmax;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header, .App-main {
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.selected {
  border: 1px solid orange;
}

.incorrect button {
  background-color: indianred;
}

.correct .selected {
  background-color: greenyellow;
}

.incorrect-answer {
  border: 1px solid red;
}

.correct-answer {
  border: 1px solid greenyellow;
}

.leaderboard .correct {
  color: green;
}

.leaderboard .incorrect {
  color: red;
}

.leaderboard {
  display: block;
}

.leaderboard td:nth-child(2) {
  text-align: left;
}

.leaderboard thead {
  display: block;
}

.leaderboard tbody {
  display: flex;
  flex-direction: column;
}

.leaderboard tr {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
}

.profile-img-preview img {
  margin: 0 auto;
  clip-path: circle(50px at center);
  width: 100px;
}

.profile-img {
  clip-path: circle(25px at center);
  width: 50px;
}
