version: "3"
services:
  flask_backend:
    build: .
    container_name: flask_backend
    command: python /app/server/src/main.py
    ports:
      - 8080:5000
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
  integration_tests:
    build: .
    container_name: integration_tests
    command: python /app/integration_tests/src/main.py
    volumes:
      - .:/app
    profiles: ["tests"]
  server_tooling:
    build: .
    container_name: server_tooling
    command: /bin/sh -c "while sleep 1000; do :; done"
    volumes:
      - .:/app:cached
    environment:
      - PYTHONPATH=/app/server/src:$PYTHONPATH
  client_tooling:
    build: client
    container_name: client_tooling
    command: /bin/sh -c "while sleep 1000; do :; done"
    volumes:
      - .:/app:cached
